* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";

}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;

}

.left {
    height: 100%;
    width: 40%;
    position: relative;

}

.right {
    height: 100%;
    width: 60%;
    background-color: rgb(202, 56, 56);


}

.rightTop {
    height: 50%;
    width: 100%;
    background-color: yellow;
    display: flex;

}

.rightBottom {
    height: 50%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1549888834-3ec93abae044?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3DD);
    background-size: cover;
    background-position: left;

}

.rightTopLeft {
    height: 100%;
    width: 60%;
    background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?q=80&w=765&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center
}

.rightTopRight {
    height: 100%;
    width: 40%;
    background-image: url(https://plus.unsplash.com/premium_photo-1675667408018-3b64dbc55db1?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;

}

.nav {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    background: #fff;

}

.navLeft a {
    text-decoration: none;
    color: #000;

}

.navright ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    font-size: 20px;
}

.navright ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease
}

.navright ul li a:hover {
    color: #555;
}

.navright i {
    font-size: 18px;
    color: royalblue;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1 {
    font-size: 90px;
    font-weight: 800;

}

.content p {
    font-size: 18px;
    margin-top: 20px;
    opacity: .6;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: royalblue;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    transition: background-color 0.3s ease;

}

.content a:hover {
    background-color: dodgerblue;
}

@media (max-width:500px) {
    .main {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
        height: 50vh;
    }

    .content h1 {
        font-size: 40px;
    }
}



@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
        height: 50vh;
    }

    .rightTop,
    .rightBottom {
        height: 50%;
    }

    .rightTopLeft,
    .rightTopRight {
        width: 50%;
    }

    .content h1 {
        font-size: 50px;
    }

    .content p {
        font-size: 14px;
    }

    .navright ul {
        gap: 15px;
        font-size: 14px;
    }
}